
@{
    ViewBag.Title = "Client Upload Utility";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function Upload() {
        window.location.href = "Upload";
    }
</script>

<h2>Client Upload Utility</h2>
<br/><br/>
<input id="btnUpload" type="button" value="Upload" onclick="Upload()" />
