
@{
    ViewBag.Title = "Client Upload Utility";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function Upload() {
        var selectedFileId = $('#FileList option:selected').text();
        window.location.href = "Customer/Upload?fileId=" + selectedFileId;
    }
</script>

<h2>Client Upload Utility</h2>
<br/><br/>
<label>Select File from the list for the upload.</label>
<br/><br/>
@Html.DropDownList("FileList")
<input id="btnUpload" type="button" value="Upload" onclick="Upload()" />
